.blog-item-details-container {
  padding: 20px 100px 20px 100px;
}
@media screen and (max-width: 768px) {
  .blog-item-details-container {
    padding: 20px;
    width: fit-content;
  }
}
.blog-author-container {
  display: flex;
  align-items: center;
}
.image {
  width: 100%;
}
